<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meda.remeda">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
   <uses-sdk android:minSdkVersion="15"/>
   <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    -->
    <application
        android:name=".Report"
        android:allowBackup="true"
        android:icon="@drawable/medalogo"
        android:label="Solar Panel Inspection"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Display"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Information"
            android:parentActivityName=".Display" />
        <activity
            android:name=".Barcode"
            android:parentActivityName=".Information" />
        <activity android:name=".ScanActivity" />
        <activity
            android:name=".HomeScreen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Review"
            android:parentActivityName=".Barcode" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AboutDevelopers" />
        <activity android:name=".PreviousRecord" />
    </application>

</manifest>